body{
    background-color: rgb(68, 68, 68);
}

.container{
    width: 25%;
    height: 85%;
    border-radius: 15px;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 80px;
    background-color: rgba(200, 200, 200, 0.5);
    text-align: center;
}

.login-header{
    text-align: center;
}

.logo{
    width: 110px;
    height: 60px;
    margin-top:15px;
    border-radius: 5px;
}

.login-header h1{
    color: rgb(13, 13, 13);
    font-family: sans-serif;
    font-size: 22px;
    margin-bottom: 30px;
}

.container input{
    display: block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
}

.container input::placeholder{
    color: rgba(68, 68, 68, 0.7);
}
 
.submit input{
    width: 100%;
    height: 40px;
    margin: 20px 0;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    background-color: rgb(217, 39, 34);
    border: 1px solid rgb(217, 39, 34);
    border-radius: 10px;
}

.register-link p{
    font-family: sans-serif;
    font-size: 15px;
    margin-top: 15px;
    color: rgb(13, 13, 13);
}

.register-link a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}